[Unit]
Description=Crudtest App
After=network.target

[Service]
User=root
Group=root
WorkingDirectory={{ project_root }}
ExecStart=node index.js
PIDFile=/var/run/crudtest.pid
StandardOutput=journal
StandardError=journal
EnvironmentFile=/etc/default/crudtest
SyslogIdentifier=crudtest

[Install]
WantedBy=multi-user.target