@version: 3.7
@include "scl.conf"
@include "`scl-root`/system/tty10.conf"

# Syslog-ng configuration file, compatible with default Debian syslogd
# installation.

# First, set some global options.
options {
  chain_hostnames(off);
  keep_hostname(yes);
  flush_lines(0);
  use_dns(no);
  use_fqdn(no);
  owner("root");
  group("adm");
  perm(0640);
  stats_freq(0);
  bad_hostname("^gconfd$");
};



log {
  source {
    system(tags("system"));
    internal(tags("syslog"));
  };

  source {
    file("/var/log/postgresql/postgresql-9.4-main.log"
      program_override("postgres")
      flags(no-parse)
      tags("db", "postgresql")
      multi-line-mode(indented)
    );
  };

  source {
    file("/var/log/app.log"
      program_override("app")
      flags(no-parse)
      tags("app", "app")
      multi-line-mode(indented)
    );
  };

  destination {
    riemann(
        server("{{ riemann_server }}")
        port(5555)
        retries(10)
        timeout(20)
        description("$MSG")
        host("crud_app")
     );
  };
};

@include "/etc/syslog-ng/conf.d/*.conf"
