<!DOCTYPE html>
<html lang="en" ng-app="crud">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CRUD app</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

  <div class="container" ng-controller="CrudController">

    <h1>Changed....</h1>
    <div class="row">
      <div class="col-sm-9">
        <h4>Simple CRUD</h4>
      </div>
      <div class="col-sm-3">
        <a class="btn btn-primary pull-right" href="#" ng-click="clear()">Clear</a>
      </div>
      
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th> <th>Data</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><b>ID</b></td>
        <td>
          <div class="row">
          <div class="col-sm-9">
            <input class="form-control" type="text" ng-model="data" /> 
          </div>
          <div class="col-sm-3">
          <a class="btn btn-primary pull-right " href="#" ng-click="add(data)">ADD</a>
          </div>
            
          </div>
        </td>
      </tr>
      <tr ng-repeat="i in items">
        <td>{{i.id}}</td> 
        <td><pre>{{i.data | json}}</pre> </td>
      </tr>
      </tbody>

    </table>

  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js" type="text/javascript" charset="utf-8"> </script>
  <script src="/app.js" type="text/javascript" charset="utf-8"> </script>
  </body>
</html>
